@font-face {
  font-family: "Cousine Regular";
  src: url(fonts/Cousine-Regular.ttf);
}

@font-face {
  font-family: "Cousine Tracer";
  src: url(fonts/Cousine-Tracer.woff);
}

html,
body {
  margin: 0;
  padding: 0;
}

.p-menubar {
  padding-top: 0;
  padding-bottom: 0;
}

.p-menubar-root-list {
  margin-left: auto;
}

.keyboard-overlay .p-overlaypanel-content {
  padding: 0 !important;
}
