// @media print {
//   @page {
//     size: landscape;
//   }
// }

#page-view-wrapper {
  border: 0.5px solid black;
  box-shadow: 15px 15px 25px grey;
  width: 1000px;
  aspect-ratio: 11 / 8.5;
  margin: 40px auto;
}
